




.slideShow span{
width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    
    z-index: 1;
    -webkit-animation: imageAnimation 40s linear infinite 0s;
    -moz-animation: imageAnimation 40s linear infinite 0s;
    -o-animation: imageAnimation 40s linear infinite 0s;
    -ms-animation: imageAnimation 40s linear infinite 0s;
    animation: imageAnimation 40s linear infinite 0s;
}

@keyframes imageAnimation{
0% {
    opacity: 0.8;
    animation-timing-function: ease-in;
}
50%{
    opacity: 1;
    transform: scale(1.20);
    animation-timing-function: ease-in-out;
}
100% {
    opacity: 1;
    transform: scale(1.00);
    animation-timing-function: ease-in;
}
}

.slideShow::after{
        content: '';
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    z-index: 0;
    background: transparent url(../../modelPages/back2.jpg) repeat top left;
}


